/*Estilos de las tarjetas*/
.container {
    text-align: center;
    margin-top: 50px;
}
.audio-button {
    cursor: pointer;
    transition: transform 0.3s;
    width: 100%;
}
.audio-button:hover {
    transform: scale(1.1);
}
.centrar{
    width: 80%;
}

/*Estilos de la página*/
body{
    background-image: url('../img/10.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1, body {
    font-family: 'Comic Sans MS';
}
.titulo{
    background-color: rgba(255, 255, 255, 0.6);
}

/*Estilos del menú*/
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button.active {
    background-color: #E5F8F8;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
}
.tab {
    overflow: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.app {
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}